
<main>
    <p>Welcome to Civics Trivia! The goal of this website is to help you learn about U.S. civics through a trivia-style quiz and a knowledge bank page. If you make an account, you will also be able to view your past scores.</p>
    
    <nav>
        <a href="/trivia">Take the trivia quiz!</a>
    </nav>
    <nav> 
        <a href = "/bank">Learn more in the Knowledge Bank</a>
    </nav>
    
</main>
