
<main>
    <br />
    <p>Welcome to Civics Trivia! </p>
    <br />
    <h2>Our Mission:</h2>
    <p>The goal of this website is to help you learn about U.S. civics through a trivia-style quiz and a knowledge bank page. If you make an account, you will also be able to view your past scores.</p>
    <br />
    <br />
    <h2>To get started, take our civics trivia quiz:</h2>
    <nav>
        <a href="/trivia"><strong>Take the trivia quiz!</strong></a> 
    </nav>
    <br />
    <br />
    <h2>If you don't feel ready yet, review some civics facts:</h2>
    <nav> 
        <a href = "/bank"><strong>Learn more in the Knowledge Bank</strong></a>
    </nav>
    
</main>
