<h1>{{title}}</h1>
<h2>First Name: {{firstName}}</h2>
<h2>Last Name: {{lastName}}</h2>
<form id="changePasswordButtonForm" action="/user/changepassword" method="GET">
    <label for="changePasswordButton">Click here if you would like to change your password to login:</label> <br /> <br />
    <button id="changePasswordButton">Change your password.</button>
</form>
<h3>Past Trivia Quiz Scores:</h3>
<ul>
  {{#each scores}}
    <li>{{ this }}</li>
  {{/each}}
</ul>
